<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>

		<script type="text/javascript">
			_kinesisResponse: "<% _kinesisResponse %>";
		</script>

	</head>
	<body>
		<section>
			<div class="container">
				<div class="text-center my-5">
					<h1 class="text-dark">Medidor de emociones</h1>
				</div>
				<div class="row">
					<div class="col-lg-6 mb-4">
						<div class="card shadow border-0 overflow-hidden">
							<div id="my_camera" class="rounded" style="margin: 0px -99px;"></div>
							<div id="my_result"></div>
						</div>
					</div>
					<div class="col-lg-6">
						<canvas id="myChart" width="400" height="400"></canvas>
					</div>
				</div>
			</div>
		</section>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
			integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
			crossorigin="anonymous"
		></script>

		<!-- AWS CDN -->
		<script src="https://sdk.amazonaws.com/js/aws-sdk-2.804.0.min.js"></script>

		<!-- First, include the Webcam.js JavaScript Library -->
		<script type="text/javascript" src="js/chart.js"></script>
		<script type="text/javascript" src="js/webcam.min.js"></script>
		<script type="text/javascript" src="js/kinesis.js"></script>
		<script type="text/javascript" src="js/s3.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
